<ion-view>
  <ion-view>
    <div class="bar bar-header bar-light">
      <h1 class="title">Home</h1>
      <a href="#/settings" class="button button-icon icon ion-gear-a"></a>
    </div>
  <ion-content class="has-header">


    <div class="list card">
      <div class="item item-avatar">
        <img src="img/easy-icon-2.png">
        <h2><strong>Easy</strong> Words</h2>
        <p><strong>50% learnt</strong></p>
      </div>

      <div class="item item-image" width="50%">
        <img src="img/firstSteps.jpg">
      </div>

      <a class="item item-icon-left positive" href="#/testScreen">
        <i class="icon ion-ios-star"></i>
        Start Learning
      </a>
    </div>

    <div class="list card">
      <div class="item item-avatar">
        <img src="img/questioning.jpg">
        <h2><strong>Hard</strong> Words</h2>
        <p><strong>0% learnt</strong></p>
      </div>

      <div class="item item-image" width="50%">
        <img src="img/difficult.jpg">
      </div>

      <a class="item item-icon-left assertive" href="#/testScreen">
        <i class="icon ion-ios-star"></i>
        Start Learning
      </a>
    </div>
  </ion-content>
</ion-view>
