<ion-view>
  <div class="bar bar-header bar-light">
    <button class="button button-icon icon ion-chevron-left" ng-click="goBack()"></button>
    <h1 class="title">Good Luck!</h1>
  </div>
  <ion-content class="has-header">
    <div class="card">
      <div class="padding text-center">
        <h3>{{currentWord.word}}</h3>
      </div>
      <div class="item item-text-wrap">
        <h3>Definition:</h3>
        {{currentWord.def}}
      </div>
    </div>

    <div class="card">
      <div class="item item-text-wrap">
       This is the mnemonic for the word, typically it should be less than 255 characters
      </div>

      <div class="item item-divider">
          <a class="button button-small button-icon ion-chevron-left" ng-click="mnemonicLeft()" style="color: #0c60ee; font-size: x-small;  padding-top: 0px; padding-bottom: 0px; float: left; min-height: 10px"></a>
          <a class="button button-small button-icon ion-chevron-right" ng-click="mnemonicRight()" style="color: #0c60ee;font-size: x-small;  padding-top: 0px; padding-bottom: 0px; float: right; min-height: 10px"></a>
      </div>

  </div>




  </ion-content>

  <div class="buttonMenu">
    <div class="voteButtons">
      <button class="button icon ion-thumbsdown" ng-click="voteDown()"></button>
      <button class="button icon ion-thumbsup" ng-click="voteUp()"></button>
    </div>

    <div class="button-bar">
      <button class="button button-full button-positive" ng-click="suggestMnemonic()">Suggest Mnemonic</button>
    </div>


    <div class="button-bar" style="float: left">
      <button class="button button-large button-assertive" ng-click="dontKnowWord()">Don't Know</button>
      <button class="button button-large button-balanced" ng-click="knowWord()">Know Word</button>
    </div>
  </div>



</ion-view>
